.img_small {
  float: left;
  margin: 0.2em;
}
/*
.img_small:nth-child(3n+1) { order: 1; }
.img_small:nth-child(3n+2) { order: 2; }
.img_small:nth-child(3n)   { order: 3; }
*/
.grid-sizer,
.img_small { width: 32.5%; }


.img_grid:after {
  content: '';
  display: block;
  clear: both;
}


/*https://tobiasahlin.com/blog/masonry-with-css/*/

/*
.image-grid > p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 600px; 
}
  

.img_small::before {
  counter-increment: items;
  content: counter(items);
}

.image-grid > p::before,
.image-grid > p::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.break {
  flex-basis: 100%;
  width: 0;
  margin: 0;
}

.column-page > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
  flex-wrap: wrap;
}
  */

.quarto-sidebar-toggle-title {
  display: none;
}

::backdrop {
  backdrop-filter: blur(5px); 
  pointer-events: none;
}

.quarto-header {
  z-index: 9;
}